/JSONOUTPUT/
/.vscode/
/OUTPUT/
/dist/
/ui/
/.idea/
/__pycache__/
/env/
/newenv/

DB.db
app/db/__pycache__/models.cpython-38.pyc
core/__pycache__/__init__.cpython-38.pyc
core/__pycache__/config.cpython-38.pyc
core/__pycache__/custum_errors.cpython-38.pyc
core/__pycache__/dir.cpython-38.pyc
core/__pycache__/html_gerator.cpython-38.pyc
*.pyc
core/db/__pycache__/__init__.cpython-38.pyc
core/db/__pycache__/config.cpython-38.pyc



view/menu/__pycache__/menu.cpython-38.pyc

view/config/__pycache__/config_data_json.cpython-38.pyc

data.JSON
movies.xlsx
!/OUTPUT/
/OUTPUT/
/player_setings.JSON
