.tag{
    margin-left: 5px;
    font-weight: bold;
}
.galery{
    padding-bottom: 20px;
    width: 1500px;
    .galery-item{
        margin: 5px;
        width: 250px;
        height: 250px;
    }
}
.tabs_nav{
    margin-top:30px;
    background-color: rgba(190, 186, 186, 0.609);
    ul{
        li{
            .nav-link{
                color: white;
                &.active{
                    color: gold;
                    background-color:black;
                    font-weight: bold;
                }
            }
        }
    }
}
.series-cart{
    width:18rem;
    padding: 1rem;
    margin: 1rem;
    .card-img-top{
        width: 16rem; 
        height: 20rem;
    }
}
.cart-item{
    width:13rem; 
    margin:1rem;
    .cover{
        width: 13rem; 
        height: 20rem;
    }
    .card-text{
        .card-title{
            text-align: center;
         }
        height: 10rem;
        text-align: justify;
    }
}
.baner{
    img{
        width: 100%;
    }
}
.col-star{
    margin: 5px;
    .star-cart{
        width: 10rem; 
        height: 20rem;
        padding: 1rem;
        .star-cart-img{
            width: 8rem; 
            height: 14rem; 
        }
    }
}